<div class="orders" layout="column" layout-margin layout-padding>
  <div layout="column" class="text-center" ng-show="!vm.success" layout-padding layout-margin>
    <h1 class="title">Book a Campaign</h1>
    <h2 class="subtitle"> Once approved, your campaign will go live as scheduled.</h2>
  </div>
  <div layout="column" class="text-center" ng-show="vm.success" layout-padding layout-margin>
    <h1 class="title">Campaign created successfully!</h1>
    <h2 class="subtitle">Once approved, your campaign will go live as scheduled.</h2>
    <div class="row">
      <md-button class="md-accent md-hue-2" ui-sref="dashboard.campaigns">Go to Dashboard</md-button>
    </div>
  </div>
  <md-content ng-show="!vm.success">
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true" md-selected="vm.control.selectedTab">
      <md-tab label="Customer info" ng-disabled="!vm.control.tabs[0].valid">
        <md-content class="md-padding">
          <adb-orders-customer form="vm.form" control="vm.control"></adb-orders-customer>
        </md-content>
      </md-tab>
      <md-tab label="Campaign - Media & Display" ng-disabled="!vm.control.tabs[1].valid">
        <md-content class="md-padding">
          <adb-orders-resume total="vm.total" options="vm.options" form="vm.form"> </adb-orders-resume>
          <adb-display-chooser total="vm.total" options="vm.options" form="vm.form" control="vm.control"></adb-display-chooser>
        </md-content>
      </md-tab>
      <md-tab label="Campaign - Details" ng-disabled="!vm.control.tabs[2].valid">
        <md-content class="md-padding">
          <adb-orders-resume total="vm.total" options="vm.options" form="vm.form"> </adb-orders-resume>
          <adb-orders-campaign total="vm.total" options="vm.options" form="vm.form" control="vm.control"></adb-orders-campaign>
        </md-content>
      </md-tab>
      <md-tab label="Checkout" ng-disabled="!vm.control.tabs[3].valid">
        <md-content class="md-padding">
          <adb-orders-resume total="vm.total" options="vm.options" form="vm.form"> </adb-orders-resume>
          <adb-orders-checkout total="vm.total" options="vm.options" form="vm.form" control="vm.control" success="vm.success"></adb-orders-checkout>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
