<section class="header" ng-cloak>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <a class="logo" ui-sref="home">
        <img class="images-responsive" ng-src="assets/images/CinaroLogo.png">
      </a>
      <span flex></span>
      <div ng-hide="$root.$state.includes('dashboard')">
        <md-button ng-if="!$root.user" ui-sref="login">
          Dashboard
        </md-button>
      </div>
      <div ng-show="$root.$state.includes('dashboard')">
        <md-button ng-click="vm.logout()">
          Log Out
        </md-button>
      </div>
    </div>
  </md-toolbar>
</section>
