<md-dialog aria-label="action-modal">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind="vm.title()"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.close()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" layout-padding flex>
        <md-input-container md-no-float class="md-block">
          <label> Hora y fecha de aplicación</label>
          <input ng-model="vm.data.fecha_aplicacion" placeholder="Hora" type="text" moment-picker="vm.data.fecha_aplicacion" format="DD-MM-YYYY HH:mm A">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
          <label>Insumo</label>
          <md-select ng-model="vm.data.insumo" aria-label="Insumo">
            <md-option ng-repeat="item in vm.insumos" ng-bind="item.nombre" ng-value="item.id">
            </md-option>
          </md-select>
        </md-input-container>

        <div layout="row" layout-align="space-between">
          <md-input-container class="md-icon-float" md-no-float>
            <label> Cantidad</label>
            <md-icon>history</md-icon>
            <input ng-model="vm.data.cantidad" placeholder="Cantidad" type="number">
          </md-input-container>
          <md-input-container md-no-float>
            <label>Medida</label>
            <md-select ng-model="vm.data.medida" aria-label="Medida">
              <md-option ng-repeat="item in vm.medidas" ng-bind="item.nombre" ng-value="item.id">
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <md-input-container md-no-float class="md-block">
          <label>Observaciones</label>
          <textarea ng-model="vm.data.observaciones" md-maxlength="150" rows="2" md-select-on-focus></textarea>
        </md-input-container>

        <div layout="row" layout-align="start">
          <md-checkbox ng-model="vm.data.all">Aplicar a todos los cultivos</md-checkbox>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.response(false)">
        Cancelar
      </md-button>
      <md-button ng-click="vm.response(true)">
        Confirmar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
