<md-content layout="column">
  <div class="md-separator"></div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Impressions</span>
        <span class="md-subhead">Choose between number of impressions or time</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="row" layout-align="space-between center">
        <md-radio-group ng-model="vm.form.impressionType" ng-change="vm.form.options.impressions = {}">
          <md-radio-button value="impressionsUnits" class="md-primary">Number of impressions</md-radio-button>
          <md-radio-button value="impressionsTime"> Unlimited impressions - Time </md-radio-button>
        </md-radio-group>
        <div layout="column" layout-align="center start">
          <md-select ng-model="vm.form.options.impressions" placeholder="Impressions" class="md-no-underline">
            <md-option><em>None</em></md-option>
            <md-option ng-value="item" ng-repeat="item in vm.options.target[vm.form.impressionType] track by item.id">
              {{item.type === 'time'?(item.time + ' ' + item.period):item.quantity}}
              <span class="fee"> x({{item.fee}})</span>
            </md-option>
          </md-select>
        </div>
        <div layout="row">
          <span>$</span>
          <span>{{vm.total | number: 2}}</span>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <div class="md-separator"></div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Distance</span>
        <span class="md-subhead"> Select a target distance for your campaign</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="row" layout-align="space-between center">
        <span flex="20">How far?</span>
        <md-select ng-model="vm.form.options.distance" placeholder="Distance" class="md-no-underline" flex="20">
          <md-option><em>None</em></md-option>
          <md-option ng-value="item" ng-repeat="item in vm.options.target.distance track by item.id">
            <span ng-if="item.isCity">City</span>
            <span ng-if="item.isState">State</span>
            <span ng-if="item.isCountry">Country</span>
            <span ng-if="item.distance" ng-bind="item.distance + 'Km'"></span>
            <span class="fee"> x({{item.fee}})</span></md-option>
        </md-select>
        <div layout="row">
          <span><span>$</span> {{vm.total | number: 2}}</span>
        </div>
      </div>
      <div layout="row" ng-if="vm.form.options.distance.isCity">
        <md-autocomplete md-selected-item="vm.form.city" md-select-on-match="true" md-input-name="cities" ng-disabled="!vm.placesReady" md-search-text="vm.city" md-items="item in vm.autocompleteCities(vm.city)" md-item-text="item.description" md-min-length="2" md-floating-label="City" flex="90" required>
          <md-item-template>
            <span md-highlight-text="vm.city">{{item.description}}</span>
          </md-item-template>
          <md-not-found>
            No matches found for "<span ng-bind="vm.city"></span>".
          </md-not-found>
        </md-autocomplete>
      </div>
      <div layout="row" ng-if="vm.form.options.distance.isState">
        <md-autocomplete md-selected-item="vm.form.state" md-select-on-match="true" md-input-name="states" ng-disabled="!vm.placesReady" md-search-text="vm.state" md-items="item in vm.autocompleteStates(vm.state)" md-item-text="item.description" md-min-length="2" md-floating-label="State" flex="90" required>
          <md-item-template>
            <span md-highlight-text="vm.state">{{item.description}}</span>
          </md-item-template>
          <md-not-found>
            No matches found for "<span ng-bind="vm.state"></span>".
          </md-not-found>
        </md-autocomplete>
      </div>
      <div layout="row" ng-if="vm.form.options.distance.isCountry">
        <md-autocomplete md-selected-item="vm.form.country" md-select-on-match="true" md-input-name="countries" ng-disabled="!vm.placesReady" md-search-text="vm.country" md-items="item in vm.autocompleteCountries(vm.country)" md-item-text="item.description" md-min-length="2" md-floating-label="Country" flex="90" required>
          <md-item-template>
            <span md-highlight-text="vm.country">{{item.description}}</span>
          </md-item-template>
          <md-not-found>
            No matches found for "<span ng-bind="vm.country"></span>".
          </md-not-found>
        </md-autocomplete>
      </div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Target Clients (Optional)</span>
        <span class="md-subhead">Choose wisely</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="row" layout-align="space-between center">
        <span flex="20">Age range</span>
        <md-select ng-model="vm.form.options.age" placeholder="Age Range" class="md-no-underline" flex="20">
          <md-option><em>None</em></md-option>
          <md-option ng-value="item" ng-repeat="item in vm.options.target.age track by item.id">{{item.range}} <span class="fee"> x({{item.fee}})</span></md-option>
        </md-select>
        <div layout="row">
          <span>$</span>
          <span>{{vm.total | number: 2}}</span>
        </div>
      </div>
      <div layout="row" layout-align="space-between center">
        <span flex="20">Gender</span>
        <md-select ng-model="vm.form.options.gender" placeholder="Gender" class="md-no-underline" flex="20">
          <md-option><em>None</em></md-option>
          <md-option ng-value="item" ng-repeat="item in vm.options.target.gender track by item.id">{{item.gender}} <span class="fee"> x({{item.fee}})</span></md-option>
        </md-select>
        <div layout="row">
          <span>$</span>
          <span>{{vm.total | number: 2}}</span>
        </div>
      </div>
      <div layout="row" layout-align="space-between center">
        <span flex="20">Target interest</span>
        <md-select ng-model="vm.form.options.interests" placeholder="Target Interest" class="md-no-underline" flex="20">
          <md-option><em>None</em></md-option>
          <md-option ng-value="item" ng-repeat="item in vm.options.target.interest track by item.id | orderBy:'quantity'">{{item.quantity}} <span class="fee"> x({{item.fee}})</span></md-option>
        </md-select>
        <div layout="row">
          <span>$</span>
          <span>{{vm.total | number: 2}}</span>
        </div>
      </div>
      <div class="md-block checkbox-group" layout="row">
        <md-checkbox ng-model="vm.form.options.exclusive">
          <md-tooltip>
            You reserve the right to advertise in the selected categories
          </md-tooltip>
          Exclusive
        </md-checkbox>
      </div>
      <div adb-chips ng-show="vm.form.options.interests.quantity" adb-id="interests" editable="true" placeholder="Select {{vm.form.options.interests.quantity}} interests" ng-show="vm.form.options.interests" ng-model="vm.form.categories" list="vm.categories" hide-list="true" show-count="true" max="{{vm.form.options.interests.quantity}}"></div>
    </md-card-content>
  </md-card>
  <div class="md-separator"></div>
</md-content>
